@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px 50px;
    background: black;
    color: white;
}